@import "libs";
@import "fonts";
@import "global";

span:hover {
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.body-barcode-image {
  min-width: 100%;

  img {
    min-width: 100%;

  }
}